django
django-jinja
django-session-security
django-guardian
django-crispy-forms
django-huey
crispy-bootstrap5
psycopg2 # arm64 version is built from source
pydicom
pynetdicom
python-gdcm
numpy==1.26.4
scipy
pillow
pandas
openpyxl
tensorflow-aarch64==2.15.0 # arm64 version
# torch         # installed via URL in docker-entrypoint.sh
# torchvision
gunicorn
pendulum
redis