django
django-jinja
django-session-security
django-guardian
django-crispy-forms
django-huey
crispy-bootstrap5
psycopg2-binary
pydicom
python-gdcm
numpy
scipy
pillow
pandas
openpyxl
tensorflow==2.15.0
# tensorflow
gunicorn
pendulum
redis