django
django-jinja
django-session-security
django-guardian
django-crispy-forms
django-huey
crispy-bootstrap5
psycopg2-binary
pydicom
pynetdicom
python-gdcm
numpy==1.26.4
scipy
statsmodels
pillow
pandas
openpyxl
tensorflow
torch
torchvision
gunicorn
pendulum
redis

emailchecker