django
django-jinja
django-session-security
django-guardian
django-crispy-forms
django-huey
crispy-bootstrap5
psycopg2-binary
pydicom
python-gdcm
numpy
scipy
pandas
openpyxl
tensorflow
gunicorn
pendulum
redis