{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row"><p style="margin-top: 10px"><a href="/filesets/{{ fileset.id }}">Back</a></p></div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">DICOM structure for fileset <b>{{ fileset.name }}</b><br></div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Patient cohort</b></div>
                <div class="card-body">{{ cohort.name }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Patients</b></div>
                <div class="card-body">
                    <form action="/filesets/{{ fileset.id }}/dicomstructure/" method="get">
                        <input type="hidden" name="action" value="select-patient">
                        <select class="form-select" name="patient_id">
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">Select patient</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">DICOM studies</b></div>
                <div class="card-body">
                    <form action="/filesets/{{ fileset.id }}/dicomstructure/" method="get">
                        <input type="hidden" name="action" value="select-study">
                        <input type="hidden" name="patient_id" value="{{ patients.0.id }}">
                        <select class="form-select" name="study_id">
                            {% for study in studies %}
                                <option value="{{ study.id }}">{{ study.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">Select study</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">DICOM series</b></div>
                <div class="card-body">
                    <form action="/filesets/{{ fileset.id }}/dicomstructure/" method="get">
                        <input type="hidden" name="action" value="select-series">
                        <input type="hidden" name="patient_id" value="{{ patients.0.id }}">
                        <input type="hidden" name="study_id" value="{{ studies.0.id }}">
                        <select class="form-select" name="series_id">
                            {% for serie in series %}
                                <option value="{{ serie.id }}">{{ serie.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">Select series</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">DICOM images</b></div>
                <div class="card-body">
                    <form action="/filesets/{{ fileset.id }}/dicomstructure/" method="get">
                        <input type="hidden" name="action" value="select-image">
                        <input type="hidden" name="patient_id" value="{{ patients.0.id }}">
                        <input type="hidden" name="study_id" value="{{ studies.0.id }}">
                        <input type="hidden" name="series_id" value="{{ series.0.id }}">
                        {% for image in images %}
                            {{ image.file.name }}<br>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
