{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">Dummy with parameters</div>
            <div class="card-body">
                <form action="/tasks/dummyparams/" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="/tasks/dummyparams/">
                    <input type="hidden" name="some_param" value="some_param_value">
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
