{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <b>Dummy</b><br>
                <i>This is a dummy task</i>
            </div>
            <div class="card-body">
                <form action="/tasks/dummy/" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="/tasks/dummy/">
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
