{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <b>Filter DICOM</b><br>
                <i>This task filters DICOM images based on their dimensions (rows and columns). You can specify the number of rows or columns the images should have, or not have.</i>
            </div>
            <div class="card-body">
                <form action="/tasks/filterdicom/" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="/tasks/filterdicom/">
                    <select class="form-select" name="fileset_id">
                        <option selected>Fileset</option>
                        {% for fileset in filesets %}
                        <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="rows" class="form-label">Rows</label>
                    <input type="text" class="form-control" id="rows" name="rows" value="512" placeholder="Enter nr. rows">
                    <input class="form-check-input" type="checkbox" value="1" id="rows_equals" name="rows_equals" checked>
                    <label for="rows_equals" class="form-label">Equals</label>
                    <br>
                    <label for="cols" class="form-label">Columns</label>
                    <input type="text" class="form-control" id="cols" name="cols" value="512" placeholder="Enter nr. columns">
                    <input class="form-check-input" type="checkbox" value="1" id="cols_equals" name="cols_equals" checked>
                    <label for="cols_equals" class="form-label">Equals</label>
                    <br>
                    <label for="output_fileset_name" class="form-label">Output fileset name (optional)</label>
                    <input type="text" class="form-control" id="output_fileset_name" name="output_fileset_name" placeholder="Enter new name">
                    <br>
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
