{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <b>Rescale DICOM</b><br>
                <i>This task rescales DICOM images to 512 x 512 such that they can be analysed by the Mosamatic AI model. If images are rectangular (columns unequal rows) the images will first be zero-padded along the short dimension 
                    to obtain a larger but square image. Then the image will be scaled back to 512 x 512 and its pixel spacing updated to reflect the changes</i>
            </div>
            <div class="card-body">
                <form action="/tasks/rescaledicom/" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="/tasks/rescaledicom/">
                    <select class="form-select" name="fileset_id">
                        <option selected>Fileset</option>
                        {% for fileset in filesets %}
                        <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="output_fileset_name" class="form-label">Output fileset name (optional)</label>
                    <input type="text" class="form-control" id="output_fileset_name" name="output_fileset_name" placeholder="Enter new name">
                    <br>
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
