{% extends "../base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row"><p style="margin-top: 10px">[<a href="/filesets/">Filesets</a>]</p></div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Tasks</div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Task</th>
                            <th>Description</th>    
                        </tr>
                        <tr>
                            <td><a href="/tasks/filterdicom/">Filter DICOM</a></td>
                            <td>Filters DICOM images based on required rows and columns</td>
                        </tr>
                        <tr>
                            <td><a href="/tasks/rescaledicom/">Rescale DICOM</a></td>
                            <td>Rescales non-square DICOM images to a square image of a given size (default: 512)</td>
                        </tr>
                        <tr>
                            <td><a href="/tasks/musclefatsegmentation/">Muscle and fat segmentation L3</a></td>
                            <td>Automatically annotates muscle and fat tissue on CT images at L3 level</td>
                        </tr>
                        <tr>
                            <td><a href="/tasks/bodycompositionmetrics/">Body composition metrics</a></td>
                            <td>Calculates body composition metrics from muscle and fat annotations at L3 level</td>
                        </tr>
                        <tr>
                            <td><a href="/tasks/segmentationpng/">Segmentation PNG</a></td>
                            <td>Generates PNG images of muscle and fat annotations</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}