{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <b>Total Segmentator</b><br>
                <i>This task runs Total Segmentator on a single CT or MRI scan</i>
            </div>
            <div class="card-body">
                <form action="/tasks/totalsegmentator/" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="/tasks/totalsegmentator/">
                    <select class="form-select" name="fileset_id">
                        <option selected>Select fileset with CT or MRI scans</option>
                        {% for fileset in filesets %}
                        <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="output_fileset_name" class="form-label">Output fileset name (optional)</label>
                    <input type="text" class="form-control" id="output_fileset_name" name="output_fileset_name" placeholder="Enter new name">
                    <br>
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
