{% extends "./base.html" %}
{% block task %}
<div class="row">
    <div class="col-sm-10">
        <div class="card" style="margin-top: 10px;">
            <div class="card-header">
                <b>{{ task.display_name }}</b><br>
                <i>{{ task.description }}</i>
            </div>
            <div class="card-body">
                <form action="{{ task.url_pattern }}" method="post" id="my-form">
                    {% csrf_token %}
                    <input type="hidden" name="baseUrl" value="{{ task.url_pattern }}">
                    <select class="form-select" name="fileset_id">
                        <option selected>Select fileset with CT or MRI scans</option>
                        {% for fileset in filesets %}
                            <option value="{{ fileset.id }}">{{ fileset.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <select class="form-select" name="mask_name">
                        <option selected>Select organ/structure</option>
                        <option value="vertebrae_L1">vertebrae_L1</option>
                        <option value="vertebrae_L2">vertebrae_L2</option>
                        <option value="vertebrae_L3">vertebrae_L3</option>
                        <option value="vertebrae_L4">vertebrae_L4</option>
                        <option value="vertebrae_L5">vertebrae_L5</option>
                        <option value="liver">liver</option>
                    </select>
                    <br>
                    <label for="output_fileset_name" class="form-label">Output fileset name (optional)</label>
                    <input type="text" class="form-control" id="output_fileset_name" name="output_fileset_name" placeholder="Enter new name">
                    <br>
                    <button id="task-button" class="btn btn-primary">Execute task</button>
                </form>                    
            </div>
        </div>
    </div>
</div>
{% endblock %}
